.Hall-header {
    font-family: 'Raleway', sans-serif;
    background-color: darksalmon;
}

.Hall-btn{
    width: 15em;
    height: 3em;
    background-color: lightgray;
    border-radius: 3%;
    margin: 0.5%;
}

.input-Hall {
    width: 10em;
}

.setColumn {
    width: 20em;
    margin-left: 2%;
    text-align: center;
}